<!DOCTYPE html>
<html>
<head>
	<title>Blog page</title>
</head>
<body>
<h1>This is my blog :)</h1>
<p>Today is Friday March 1st</p>

<h2>Short Answers</h2>

<p>A client is a computer that connects to and uses the resources of a remote computer, or server. Many corporate networks comprise a client computer for each employee, each of which connects to the corporate server. The server provides resources like files, information, Internet and intranet access, and external processing power. In the case of processing, any work done on the server is referred to as "server-side" work. Any work done on the local client is similarly called "client-side.</p>

<p>A server is a computer designed to process requests and deliver data to another computer over the internet or a local network.</p>

<p>The Hypertext Transfer Protocol (HTTP) is designed to enable communications between clients and servers.

HTTP works as a request-response protocol between a client and server.

A web browser may be the client, and an application on a computer that hosts a web site may be the server.

Example: A client (browser) submits an HTTP request to the server; then the server returns a response to the client. The response contains status information about the request and may also contain the requested content.<p>

<p>An HTTP response is made by a server to a client. The aim of the response is to provide the client with the resource it requested, or inform the client that the action it requested has been carried out; or else to inform the client that an error occurred in processing its request.</p>

<p>Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.

We use Django becasue:
<ul>
<li>Ridiculously fast.
Django was designed to help developers take applications from concept to completion as quickly as possible.
</li>

<li>
Reassuringly secure.
Django takes security seriously and helps developers avoid many common security mistakes.
</li>

<li>
Exceedingly scalable.
Some of the busiest sites on the Web leverage Django’s ability to quickly and flexibly scale.
</li>




</ul>


</p>

</body>
</html>